@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Cantarell:wght@400;700&family=Fredoka:wght@300;400;500&family=Lato:wght@100;400;700&family=Open+Sans:wght@400;700&family=Poppins:wght@400;500;700;800&display=swap');

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: 'Poppins', sans-serif;}
body {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
}


/*navbar */
.header-container {
  background-color: #373f51;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-container {
  width: 900px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(222, 224, 226);
}
.logo:hover {
  cursor: pointer;
}
.emoji-logo {
  display: none;
}
.navbar-list {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-list > li {
  list-style: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #e7e7e7;
}
.navbar-list > li:hover {
  cursor: pointer;
}
.navbar-list-mobile {
  display: none;   
  justify-content: space-evenly;
  align-items: center;
  list-style: none;  
  width: 100%;
  background-color: #c9cac8;
  height: 50px;
}
.navbar-list-mobile > li {
  color: #0f0f0f;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  flex-direction: row;  
  height: 30px;
}

/*evento*/
.destac-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  max-width: 900px;
  background-color: lightcoral;
  margin: auto;
  margin-top: 0.8rem;
  border-radius: 6px;
}
.destac-banner:hover {
  cursor: pointer;
  zoom: 1.005;
}
.banner-mnsg {
  font-size: 1.4rem;
}

/*conteudo principal*/
.site-container {
  max-width: 900px;
  background-color: #eff0ef;
  height: fit-content;
  margin: auto;
  margin-top: 0.8rem;
  display: flex;
  border-radius: 6px;
}
.site-content {
  width: 70%;
  background-color: #eff0ef;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
}
.disponible-title {
  margin-top: 0.8rem;
  margin-bottom: 00.8rem;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0rem 0.1rem 0.06rem #cac9c9;
}
.posts-section {
  width: 98%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.all-posts {  
  margin: 0.4rem 2px 0.4rem 2px;
  width: 31%;
  height: fit-content;
  min-height: fit-content;
  border-radius: 4px;
  background-color: azure;
  
}
.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dog-img {
  min-height: 200px;
  object-fit: cover;
  margin-top: 0.1rem;
  width: 97%;
  background-color: aqua;
  border-radius: 4px;
}
.dog-img:hover {
  cursor: pointer;
}
.dog-name {
  min-height: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.dog-name:hover {
  cursor: pointer;
}
.dog-size {
  margin-top: 0.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}
.dog-description {
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  text-align: center;
  height: 3.3rem;
}
.adopt-btn {
  align-self: flex-end;
  margin-top: 0.4rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.8rem; 
  border-radius: 6px;
  width: 150px;
  height: 30px;
  color: #fc8358;
  background-color: #ffffff;
  border: 2px solid #fc8358;
}
.adopt-btn:hover {
  align-self: center;
  justify-self: center;
  cursor: pointer;
  width: 146px;
  box-shadow: 0.1rem 0rem 0.5rem 0.1rem #e6e4e4;
}
.btn-text {
  font-weight: 900;
}
/*barra lateral */
.sidebar {
  width: 30%;
  background-color: #dfddd9;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.sidebar-title {
  margin-top: 1.6rem;
  font-size: medium;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
.sidebar-menu {
  margin-top: 0.8rem;
  width: 83%;
  text-align: left;
  list-style: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.sidebar-menu-link {
  text-decoration: none;
  font-weight: 500;
  margin-top: 0.4rem;
}
.btn-item {
  display: flex;
  justify-content: center;
}
.sidebar-btn {
  margin-top: 0.4rem;
  text-decoration: none;
  text-align: center;
  color: aliceblue;
  width: 100%;
  padding: 5px;
  border: 1px solid #fc8358;
  border-radius: 4px;
  background-color: coral;
}
.sidebar-btn:hover {
  cursor: pointer;
  width: 96%;
  box-shadow: 0.1rem 0rem 0.5rem 0.1rem #ecebeb;
}
/*footer*/
.footer-container {
  display: flex; 
  justify-content: center;
  width: 100%;
  height: 300px;
  background-color: blueviolet;
  margin-top: 1.2rem;
}
.center-footer-container {
  width: 100%;
  max-width: 900px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: blueviolet;
  
}
.footer-lists-container {
  display: flex;
  justify-content: space-around;
  width: 44%;
  height: 80%;
}
.footer-title {
  margin-bottom: 0.4rem;
  color: aliceblue;
}
.footer-list {
  color: aliceblue;
  text-decoration: none;
  list-style: none;
}
.footer-list-item {
  margin-top: 0.2rem;
}
.footer-list-item:hover {
  cursor: pointer;
}
.foooter-map {
  width: 55%;
  height: 80%;  
  background-color: #c0ff8c;
  border-radius: 6px;  
}
.g-maps {
  border-radius: 6px;
  width: 100%;
  height: 100%;
}

@media (max-width: 1440px) {
  .footer-lists-container {
    height: 80%;
  }
}
@media (max-width: 1024px) {
  .navbar-container {
    max-width: 90vw;
    transition: 0.4s ease;
  }
}

@media (max-width: 768px) {
  .logo {
    display: none;
  }  
  .emoji-logo {
    display: flex;
    margin: 0 auto;
    font-size: 30px;
  }  
  .navbar-list {
    flex-direction: row;
    display: none;
  }
  .navbar-list-mobile {
    display: flex;
  }
  .destac-banner {
    width: 95%;
  }
  .site-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;    
    margin-top: 0.8rem;
    max-width: 730px;
    width: 95%;
  }
  .disponible-title {
    text-align: center;
  }
  .site-content {
    width: 100%;
    display: block;
    height: fit-content;
  }
  .all-posts {
    width: 97%;
    height: fit-content;
    padding-bottom: 1.2rem;
    border-bottom: 0.8rem;
  }
  .dog-img {
    width: 70%;
    margin-top: 0.8rem;
  }
  .dog-description {
    margin: 0.4rem;
    margin-bottom: 0px;
  }

  /*mobile sidebar*/ 
  .sidebar {
    width: 100%;
    margin-top: 0.4rem;
    border-radius: 0px 0px 6px 6px;
    padding-bottom: 1.4rem;
  }

  /*mobile footer*/
  .footer-container {
    height: fit-content;
  }
  .center-footer-container {
    margin-top: 0.8rem;
    justify-content: center;
    gap: 10px;
  }
  .footer-lists-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 80%;
  }
  .footer-title {
    color: #e7e1e1;
  }
  .footer-list-two {
    margin-top: 1.2rem;
  }  
  .foooter-map {    
    width: 65%;
  }
}
@media (max-width: 425px) {
  .center-footer-container {
    width: 100%;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .footer-lists-container {
    margin-top: 1.2rem;
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
  .footer-list-two {
    margin-top: 0px;
  }
  .foooter-map {
    width: 90%;
  }
}
@media (max-width: 400px) {
  .banner-mnsg {
    text-align: center;    
  }
}
